# --- Build outputs only (safe to ignore) ---
pkgs/out/*.swu
pkgs/out/*.sig

# Python cache (for HTTPS server)
__pycache__/

# Logs
*.log

# Certificate private keys (never commit)
*.key

# demo payload is generated
pkgs/demo/update.bin

# do not commit TLS private material
server/*.crt
server/*.key
