[Unit]
Description=Auto OTA Polling Service
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/auto-ota.sh
